/* .icecream-display {
  object-fit: cover;
  background-image: url('../img/unsplash/main.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 50vh;
}

.heroContainer {
  height: 800;
  background-image: url('../img/unsplash/main.jpg');
  background-size: 'cover';
  background-position: 'center';
  width: calc(100vw + 48px);
  margin: -24;
  padding: 24;
} */
